
<section id="featured">
	<h1> 
		Together, </br>	let’s discover the world!
	</h1>
		<h2><%= link_to 'Join now and tell your story',new_user_registration_path %></h2>
	<div id="start">
		<a href="#"> Get Started </a>&nbsp;<a href="#"> Learn More </a>
	</div>

</section>

<section class="post">

<% @posts.each do |post| %>
 	<div class="">
 		<%= image_tag post.cover_photo, :class => "img_responsive" %>
 	</div>
  <div class="featured_posts third_page float">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <h3><%= post.intro %></h3>

		<% if post.user.present? %>
	     <p><%= post.user.email %></p>
	    <% end %>
	  </div>
		<% end %>
</section>

This is a test for codeship.