
<section class="post col-xs-10 col-xs-offset-1">
	<%= simple_form_for @post do |f| %>
		<%= f.input :cover_photo %>
		<%= f.input :title, placeholder: 'Title of your story', :class => 'post_title form-control form-group', label: false  %>
		<%= f.input :intro, placeholder: 'Write a brief introduction', :class => 'post_intro', label: false  %>
		<%= f.input :body, placeholder: 'Tell your story', :class => 'body', label: false  %>

		<%= f.submit 'Update', :class => 'button' %>

		<%= link_to 'Delete', post_path(@post), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this story?'}, :class => 'button' %>
	<% end %>

</section>

  <script>
     
          $('#post_body').froalaEditor({
          	inlineMode: false,
          	minHeight: '200px',
          	buttons: ['bold', 'italic', 'underline', 'align', 'insertUnorderedList', 'insertOrderedList', 'indent', 'createLink', 'html']
          })


  </script>