
<section class="post col-xs-10 col-xs-offset-1">
<%= simple_form_for @photo, :url => '#' do |f| %>

  <%= f.input :caption, placeholder: 'Add a caption to your cover photo', :id => 'cover_photo_caption', label: false %>
  <%= f.submit "Add a Comment", :class => 'btn btn-primary' %>
<% end %>

	<%= simple_form_for @post do |f| %>
		<%= f.input :title, placeholder: 'Title of your story', :class => 'post_title form-control form-group', label: false  %>
		<%= f.input :intro, placeholder: 'Write a brief introduction', :class => 'post_intro', label: false %>
		<%= f.text_area :body, placeholder: 'Tell your story', :id => 'post_body', label: false %>
	
		<%= f.submit 'Publish', :class => 'btn btn-primary' %>
	<% end %>

</section>

  <script>
     
          $('#post_body').froalaEditor({
          	inlineMode: false,
          	minHeight: '200px',
          	buttons: ['bold', 'italic', 'underline', 'align', 'insertUnorderedList', 'insertOrderedList', 'indent', 'createLink', 'html']
          })


  </script>