<div class="page_wrapper">
  <section class="post col-xs-10 col-xs-offset-1">

  	<%= simple_form_for @post do |f| %>
      <%= f.input :cover_photo %>
      <!--<%= f.hidden_field :cover_photo_cache %> -->
      <!--<%= image_tag @post.cover_photo, :class => "img_responsive" %> -->

  		<%= f.input :title, placeholder: 'Title of your story', :class => 'post_title', label: false  %>
  		<%= f.input :intro, placeholder: 'Write a brief introduction', :class => 'post_intro', label: false %>
  		<%= f.text_area :body, placeholder: 'Tell your story', :id => 'post_body', label: false %>
  	
  		<%= f.submit 'Publish', :class => 'btn btn-primary' %>
  	<% end %>

  </section>

    <script>
       
            $('#post_body').froalaEditor({
            	inlineMode: false,
            	minHeight: '200px',
            	buttons: ['bold', 'italic', 'underline', 'align', 'insertUnorderedList', 'insertOrderedList', 'indent', 'createLink', 'html']
            })


    </script>
</div>