<div class="post_wrapper">
  <div id="post_content">
    <%= image_tag @post.cover_photo, :class => 'img-responsive cover_photo' %>
    <div class="title">
      <%= @post.title %>
    </div>
    <div class="intro">
      <%= @post.intro %>
      <p>By <%= link_to @post.user.full_name, user_path(@post.user) %><p>
    </div>
    <p>
     
    </p>
    <div class='date_and_author'>
       
      <%= @post.created_at.strftime("%b %d, %Y") %><br /><br />
      <% if current_user && current_user == @post.user %>
        <%= link_to 'Edit', edit_post_path(@post), :class => 'button' %>
        <%= link_to 'Delete', post_path(@post), :method => :delete, :date => {:confirm => 'Are you sure? This cannot be undone'}, :class => 'button' %>
      <% end %>
    </div>
      <div class="body">
        <%= simple_format(@post.body) %>
      </div>

  <div class="clear"></div>
  <div class="col-xs-10 col-xs-offset-1">

  <%= simple_form_for @comment, :url => post_comments_path(@post) do |f| %>
    <%= f.input :message, placeholder: "Share your thoughts on the story", :class => 'post_comment', label: false %>
    <%= f.submit "Publish", :class=> "button" %>
  <% end %>
  </div>

  <div class="comment_section col-xs-10 col-xs-offset-1">
    <h4>Comments</h4>

    <% @post.comments.each do |comment| %>
      <div>
        <%= comment.message %>
      </div>
      <div class="pull-right">
     <% if current_user && current_user == @comment.user %>
      <%= link_to 'Edit',  edit_post_comment_path(@comment), :class => 'btn btn-primary' %>
      <% end %>
      <%= button_to 'Delete', [@post, comment], :method => :delete, :data => {:confirm => 'Are you sure you want to delete this comment?'},:class => 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
  </div>
</div>