<div class="col-xs-10 col-xs-offset-1">
  <%= image_tag @post.cover_photo, :class => "img_responsive" %>
  <h1><%= @post.title %></h1>
  <i><%= @post.intro %></i>
  <p><%= link_to @post.user.full_name, user_path(@post.user) %></p>
  <br/><br/>
  <div class="fr-view">
    <%= simple_format(@post.body) %>
  </div>
   <div class="pull-right">
   <% if current_user && current_user == @post.user %>
    <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Delete', post_path(@post), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'},:class => 'btn btn-danger' %>
  </div>
</div>

<div class="clear"></div>
<div class="col-xs-10 col-xs-offset-1">

<%= simple_form_for @comment, :url => post_comments_path(@post) do |f| %>
  <%= f.input :message, placeholder: "Share your thoughts on the story", :class => 'post_comment', label: false %>
  <%= f.submit "Publish", :class => 'btn btn-primary' %>
<% end %>
</div>


<div class="comment_section col-xs-10 col-xs-offset-1">
  <h2>Comments</h2>

  <% @post.comments.each do |comment| %>
    <div>
      <blockquote>
          <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
    <div class="pull-right">
   <% if current_user && current_user == @comment.user %>
    <%= link_to 'Edit',  edit_post_comment_path(@comment), :class => 'btn btn-primary' %>
    <% end %>
    <%= button_to 'Delete', [@post, comment], :method => :delete, :data => {:confirm => 'Are you sure you want to delete this comment?'},:class => 'btn btn-danger' %>
  </div>
  <% end %>
</div>
