<div class="post_wrapper">
  <div id="post_content">
    <%= image_tag @post.cover_photo, :class => 'img-responsive cover_photo' %>
    <div class="title">
      <%= @post.title %>
    </div> <!-- Title -->
    <div class="intro">
      <%= @post.intro %><br />
      <p>By <%= link_to @post.user.full_name, user_path(@post.user) %><p>
    </div>  <!-- Intro -->
    <p>
     
    </p>
    <div class='date_and_author'>
       
      <%= @post.created_at.strftime("%b %d, %Y") %><br /><br />
      <% if current_user && current_user == @post.user %>
        <%= link_to 'Edit', edit_post_path(@post), :class => 'button' %>
        <%= link_to 'Delete', post_path(@post), :method => :delete, :date => {:confirm => 'Are you sure? This cannot be undone'}, :class => 'button' %>
      <% end %>
    </div>  <!-- date and author -->
      <div class="body">
          <%= simple_format(@post.body) %>
      </div>  <!-- body -->
    </div>  <!-- Post Wrapper -->

      <div id="comments">
        <%= render "comments/disqus" %>

      </div>
    </div>
  </div> 
</div> 