	<footer class="col-xs-12">
		  <%= link_to 'About Us', static_pages_about_path %>&nbsp; • &nbsp;
      <%= link_to 'Guidelines', '#' %>&nbsp; • &nbsp;
      <%= link_to 'FAQs', '#' %>&nbsp; • &nbsp;
      <%= link_to 'Terms & Conditions', '#' %>&nbsp; • &nbsp;
      <%= link_to 'Contact', static_pages_contact_path %>     
		<p> Copyright © <%= Date.today.year %> Sonderfly, LLC. All rights reserved. 
		</p>
	</footer>